---
import Layout from "../../layouts/Layout.astro"; 
---
<!-- query LoadAllPosts {
  posts {
    nodes {
      title
      slug
      featuredImage {
        node {
          mediaItemUrl
          srcSet
          sizes
          altText
        }
      }
      content(format: RENDERED)
      author {
        node {
          name
        }
      }
    }
  }
} -->
<Layout title="blog">
    <img    
        src="https://via.placeholder.com/150"
        srcset="https://via.placeholder.com/150 1x, https://via.placeholder.com/300 2x
        https://via.placeholder.com/450 3x, https://via.placeholder.com/600 4x"
        sizes="400"
        alt="placeholder" 
    />

    <h1>Blog</h1>

    <p class="byline">Ngawang</p>
    <p>Some more content</p>

    <p>
        <a href="/">back to home</a>
    </p>

</Layout>